# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Dependencies & Build
# =========================
node_modules/
dist/
dist-ssr/
*.local

# =========================
# Environment / Secrets
# =========================
.env
.env.*
db.php

# =========================
# Backend (DO NOT PUSH)
# =========================
public/api/
api/
*.php


# =========================
# Editor / OS files
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# System / IDE junk
# =========================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
